/.idea
/.lein-*
/.nrepl-port
/.repl-0.0-3308
/checkouts
/classes
/emacs
/out
/repl
/clojurescript/node_modules
/clojurescript/out
/target
qiss.iml
pom.xml
pom.xml.asc
*~
*.jar
*.class
*.log
*.swp

*.csv#

workerdir/*
iowa_liquor_sales_fixed_with_header.csv
